/* Styling for the login section */



.login {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
margin: 0;
background-color: #f0f0f0;
 
  
.login__wrapper{
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
 
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: .5rem;
   &:focus{
outline: none;
   }
  }
  

  button:hover {
    background-color: #0056b3;
  }
  span{
    color: #033367;
    display:block;
    margin-bottom: .4rem;
    padding:0.5rem;
    text-transform: capitalize;
  }
  
}
}
  


  