
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
    gap: 2rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
   

    .menu__item-wrapper{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 0.6rem;
        flex-direction: column;

        .menu__title{
            color:$soft-color;
            font-size: .8rem;
            text-transform:uppercase;
             @include lg{
          display: none;
        }
        }
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        padding:.4rem;
        gap:1rem;
}
.menu__list-item{
    display: flex;
    align-items:center;
    gap: .5rem;
    color: $main-color;
    font-size:.9rem;
 span{
    text-transform: capitalize;

      @include lg{
          display: none;
        }
 }

}
}