// @import "../../styles/variables.scss";
// @import "../../styles/responsive.scss";

// .menu {
//   .item {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     margin-bottom: 20px;

//     .title {
//       font-size: 12px;
//       font-weight: 200;
//       color: $soft-color;
//       text-transform: uppercase;

//       @include lg{
//         display: none;
//       }
//     }

//     .listItem {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       padding: 10px;
//       border-radius: 5px;

//       &:hover {
//         background-color: $soft-bg;
//       }

//       .listItemTitle{
//         @include lg{
//           display: none;
//         }
//       }
//     }
//   }
// }
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
    gap: 2.5rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
   

    .menu__item-wrapper{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: .9rem;
        flex-direction: column;

        .menu__title{
            color:$soft-color;
            font-size: .8rem;
            text-transform:uppercase;
             @include lg{
          display: none;
        }
        }
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        padding:.4rem;
        gap:.7rem;
}
.menu__list-item{
    display: flex;
    align-items:center;
    gap: .5rem;
    color: $main-color;
    font-size:.9rem;
 span{
    text-transform: capitalize;

      @include lg{
          display: none;
        }
 }

}
}