

.detail {
  display: flex;
  margin-bottom: 1rem;

  .detail__view {
    flex: 1;

    .detail__info {
      .detail__info-top {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        img {
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 1.2rem;
          object-fit: cover;
          -webkit-border-radius: 1.2rem;
          -moz-border-radius: 1.2rem;
          -ms-border-radius: 1.2rem;
          -o-border-radius: 1.2rem;
}

        h1 {
          font-weight: 500;
          font-size: 1.6rem;
        }
        button{
            padding:.5rem .9rem;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            font-size: .9rem;
}
      }
      .detail__info-items{
        font-size: 1.2rem;

        .detail__info-item {
          margin: 1.2rem 0rem;

          span {
            font-weight: 400;
            margin-right: .5rem;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 1.8rem 0rem;
    }

    .detail__chart {
      margin-top: 3rem;
      width: 80%;
      height: 22rem;
    }
  }
  .detail__activities {
    flex: 1;

    h2 {
      margin-bottom: 1rem;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: .1rem;
        padding-top: 2rem;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: .8rem;
          height: .8rem;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 25rem;
          padding: 1rem;
          background-color: #f45b6810;

          p{
            margin-bottom: .3rem;
          }

          time{
            font-size: .7rem;
          }
        }
      }
    }
  }
}