@import "../../style/variables.scss";

.home__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem,auto);
    gap:1.1rem;
    
 

    .box{
        border: .1rem solid $soft-bg;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        padding: .8rem  ;

    }
    
    .box1{
     grid-column: span 1;
     grid-row: span 3;
    }
     
    .box4{
        grid-column: span 1;
        grid-row: span 3;
       }
        
    .box7{
        grid-column: span 2;
        grid-row: span 2;
       }
}
