@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
a{
   color:inherit
}

 body{
   font-family: "Poppins", sans-serif;
}
li{
   list-style:none;
}
 .main{
    color: white;
    background:$main-bg;
    color:$main-color
 } 
 .container{
    display:flex;
   
 }
 .menu__container{
    width:13rem;
    padding: $container-padding;
    border-right: 0.1rem solid $soft-bg;
 }
 .content__container{
width: 100%;
padding: $container-padding;
margin-left: .5rem;
overflow-x: hidden;
 }
