@import "../../style/variables.scss";


footer{
    width:100%;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    margin-top: .8rem;
    justify-content: space-between;
    background:$main-bg;
    color: $main-color;

   span{
    letter-spacing:.1rem ;
    
    &:first-child{
        font-weight: 500;
            }
        
            &:last-child{
        font-size: .8rem;
      
        
            }
        
   }
}