.pie__info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     .pie__chart{
        width: 100%;
        height: 400px;
     }
     .pie__options{
      display: flex;
      justify-content: space-between;
      gap:1rem;
      .pie__option{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap:.3rem;
   
         .pie__option_title{
            display: flex;
            align-items: center;
            font-size: .8rem;
            gap: .3rem;
   
            .pie__title-circle{
               width: .6rem;
               height: .6rem;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
   
   }
         }
        }
     }
     
    
}