.products{
    display: flex;
    flex-direction: column;
   gap:1rem;
   .products__info{
    display: flex;
    align-items: center;
    gap:1rem;

    button{
        padding:.3rem .6rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
}
 
   
    
   }
}