.table{ 
    background: white;   
    .table__grid{
        padding: 1.2rem;
        font-size: .8rem;

        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
            margin-bottom: .5rem;
        }

        img{
            width: 2rem;
            height:2rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            object-fit: cover;
}

.user__action{
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1rem;

    .user__action-edit{
        color:green
    }
    .user__action-delete{
        color:tomato;
        font-size: 1.2rem;
    }


}
    }
}